@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  min-height: 100vh;
}

/* NAVBAR */

.icons {
  position: absolute;
  right: 5%;
  font-size: 3rem;
  color: #fff;
  display: none;
  display: inline-flex;
}

#check:checked ~ .icons #menu-icon {
  display: none;
}

.icons #close-icon {
  display: none;
}

#check:checked ~ .icons #close-icon {
  display: block;
}

.navbar {
  position: absolute;
  display: grid;
  top: 10%;
  height: 0;
  left: 0;
  width: 100%;
  background: #19191a;
  overflow: hidden;
  transition: 0.3s ease;
  align-items: center;
}

#check:checked ~ .navbar {
  height: 60vh;
}

.navbar a {
  display: block;
  font-size: 1rem;
  margin: 1rem 0;
  text-align: center;
  transform: translateY(-50px);
  transition: 0.3s ease;
  opacity: 0;
  line-height: 50px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

#check:checked ~ .navbar a {
  opacity: 1;
  transform: translateY(0);
  transition-delay: calc(0.15s * var(--i));
}

#check {
  display: none;
}

.header {
  background-color: #19191a;
  height: 6rem;
  align-items: center;
  display: flex;
  padding: 2rem;
  flex-direction: row;
  justify-content: space-between;
}

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 1rem;
  border: 1px solid white;
  border-radius: 20px;
  align-items: center;
  display: flex;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  z-index: 1;
}

.language-selected {
  display: flex;
  align-items: center;
  color: #fff;
}

.language-selected:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("./images/brazil-flag-square-xs.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.language-selected.change-br:before {
  background-image: url("./images/brazil-flag-square-xs.png");
}

.language-selected.change-en:before {
  background-image: url("./images/united-states-of-america-flag-square-xs.png");
}

.dropdown-content a {
  color: black;
  padding: 1rem;
  text-decoration: none;
  display: block;
}

.show {
  display: block;
}

/* HOME */

.container-home {
  width: 100%;
  display: grid;
  justify-content: center;
  text-align: center;
  padding: 15rem 0 10rem 0;
}

.container-home h1 {
  color: white;
  margin-bottom: 1rem;
  font-size: 4rem;
  font-weight: lighter;
  font-style: italic;
}

.container-home h2 {
  color: lightgrey;
  font-size: 1rem;
  margin-bottom: 3rem;
  font-weight: lighter;
}

.home-icon {
  color: white;
  font-size: 3rem;
  border: 2px solid white;
  border-radius: 100%;
  padding: 10px;
}

/* SOBRE */

.container-sobre {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.text-sobre {
  color: white;
  display: flex;
  flex-direction: column;
}
.text-sobre h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.text-sobre span {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.span-sobre {
  display: inline-flex;
}

.sobre-icon {
  margin-right: 1rem;
  font-size: 1.25rem;
}

.sobre-titulo {
  color: white;
  text-align: center;
  margin-bottom: 5rem;
}

.sobre-img {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.sobre-img img {
  width: 30%;
  border-radius: 50%;
}

.text-sobre {
  padding: 1rem;
}

.text-sobre h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.text-sobre span {
  font-size: 0.75rem;
}

/*PROJETOS */

.container-projetos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.projetos-titulo {
  color: white;
  text-align: center;
  margin-bottom: 5rem;
}

.card {
  border: 2px solid #9ae5f3;
  border-radius: 1rem;
  padding: 1rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card-header {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: 2rem;
}

.card-body {
  color: white;
}

.card-body p {
  font-size: 0.75rem;
  text-align: justify;
  margin-bottom: 1rem;
}

.card-body span {
  font-size: 1.5rem;
}

.card-footer {
  margin-top: 2rem;
}

.button-github {
  margin-top: 2rem;
  padding: 1rem;
  align-items: center;
  display: flex;
  gap: 0.5rem;
  background-color: #19191a;
  color: white;
  font-size: 1rem;
  border-radius: 1rem;
  border: none;
  font-weight: 500;
}

.button a {
  text-decoration: none;
}

/* HABILIDADES */

.container-habilidades {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.habilidades-titulo {
  color: white;
  text-align: center;
  margin-bottom: 5rem;
}

/* CONTATOS */

.container-contatos {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.email {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  border: 1px solid #9ae5f3;
  border-radius: 1.5rem;
  padding: 1rem;
  gap: 0.5rem;
}

.email span {
  font-size: 2rem;
}

.email h1 {
  font-size: 1rem;
}

.email p {
  font-size: 0.75rem;
}

.email a {
  text-decoration: none;
  color: white;
}

.linkedin {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  border: 1px solid #9ae5f3;
  border-radius: 1.5rem;
  padding: 1rem;
  gap: 0.5rem;
}

.linkedin span {
  font-size: 2rem;
}

.linkedin h1 {
  font-size: 1rem;
}

.linkedin p {
  font-size: 0.75rem;
  text-decoration: none;
}

.linkedin a {
  text-decoration: none;
  color: white;
}

.whatsapp {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  border: 1px solid #9ae5f3;
  border-radius: 1.5rem;
  padding: 1rem;
  gap: 0.5rem;
}

.whatsapp span {
  font-size: 2rem;
}

.whatsapp h1 {
  font-size: 1rem;
}

.whatsapp p {
  font-size: 0.75rem;
}

.whatsapp a {
  text-decoration: none;
  color: white;
}

.contatos-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* FOOTER */

.footer {
  margin-top: 5rem;
  padding: 2rem;
  background-color: #19191a;
}

.footer p {
  color: white;
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center;
}

/* BUTTON TOP */

#myBtn {
  width: 3.5rem;
  height: 3.5rem;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #9ae5f3;
  color: white;
  border-radius: 100%;
  font-weight: bold;
  font-size: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .icons {
    cursor: pointer;
  }

  .navbar a:hover {
    color: #9ae5f3;
    transition: none;
  }

  .dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 1rem;
    border: 1px solid white;
    border-radius: 20px;
    align-items: center;
    display: flex;
    cursor: pointer;
  }

  .dropbtn:hover {
    color: #9ae5f3;
    border: 1px solid #9ae5f3;
  }

  .dropbtn:before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("./images/brazil-flag-square-xs.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
  }

  .language-selected.change-br:before {
    background-image: url("./images/brazil-flag-square-xs.png");
  }

  .language-selected.change-en:before {
    background-image: url("./images/united-states-of-america-flag-square-xs.png");
  }

  .dropdown {
    position: absolute;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 1rem;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    color: #9ae5f3;
  }

  .show {
    display: block;
  }

  .content {
    width: 100%;
  }

  .container-home {
    width: 100%;
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 15rem 0 10rem 0;
  }

  .container-home h1 {
    color: white;
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: lighter;
    font-style: italic;
  }

  .container-home h2 {
    color: lightgrey;
    font-size: 1rem;
    margin-bottom: 3rem;
    font-weight: lighter;
  }

  .home-icon {
    color: white;
    font-size: 3rem;
    border: 2px solid white;
    border-radius: 100%;
    padding: 10px;
  }

  .home-icon:hover {
    color: #9ae5f3;
    border: 2px solid #9ae5f3;
  }

  .container-sobre {
    width: 100%;
    padding: 15rem 0 10rem 0;
    display: flex;
    justify-content: center;
  }

  .container-sobre img {
    width: 20%;
    border-radius: 50%;
  }

  .text-sobre {
    color: white;
    display: flex;
    flex-direction: column;
  }

  .text-sobre h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .text-sobre span {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .span-sobre {
    display: inline-flex;
    justify-content: center;
  }

  .sobre-icon {
    margin-right: 1rem;
    font-size: 1.25rem;
  }

  .container-projetos {
    width: 100%;
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 15rem 0 10rem 0;
  }

  .card-container {
    display: flex;
    flex-direction: row;
    padding: 0 3rem 0 3rem;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card:hover {
    opacity: 80%;
  }

  .card-body p {
    text-align: center;
  }

  .button {
    display: flex;
    justify-content: center;
  }

  .button-github {
    cursor: pointer;
  }

  .button-github:hover {
    opacity: 80%;
    color: #9ae5f3;
  }

  .container-habilidades {
    width: 100%;
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 15rem 0 10rem 0;
  }

  .container-contatos {
    width: 100%;
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 15rem 0 10rem 0;
  }

  .contatos-container {
    display: flex;
    flex-direction: row;
    padding: 0 3rem 0 3rem;
    gap: 2rem;
  }

  .email,
  .linkedin,
  .whatsapp {
    width: 300px;
  }

  #myBtn {
    cursor: pointer;
  }

  #myBtn:hover {
    opacity: 80%;
  }
}
